#M8{
    position: fixed;
    height: 400px;
    top: 400px;
    left: 350px;
}

#Answers{
    position: fixed;
    font-family: fantasy;
    font-size: larger;
    color: rgb(155, 5, 5);
}

h2{
    color: blue;
    font-family: cursive;
}

button{
    background-color: rgb(63, 52, 52);
    height: 50px;
    color: silver;
    font-family: fantasy;
    border: 1px blue;
}