body{
    background-color: rgb(172, 127, 255);
}

#M8{
    position: fixed;
    height: 400px;
    top: 250px;
    left: 50px;
}

#Answers{
    position: fixed;
    font-family: fantasy;
    font-size: larger;
    color: rgb(155, 5, 5);
}

h2{
    color: blue;
    font-family: cursive;
}

button{
    background-color: rgb(61, 53, 41);
    height: 50px;
    color: red;
    font-family: fantasy;
    font-size: medium;
    border: 2px solid rgb(97, 97, 100); 
}